In [1]:
import pandas as pd

In [4]:
route = input("경로 입력: ")

경로 입력: iris.csv

In [5]:
route

'iris.csv'

In [8]:
iris = pd.read_csv("/Users/user/Downloads/" + route)

In [9]:
iris

   number  sepal.length  sepal.width  petal.length  petal.width variety
0       0           5.1          3.5           1.4          0.2  Setosa
1      14           5.8          4.0           1.2          0.2  Setosa
2      16           5.4          3.9           1.3          0.4  Setosa
3      17           5.1          3.5           1.4          0.3  Setosa
4      28           5.2          3.4           1.4          0.2  Setosa
5      33           5.5          4.2           1.4          0.2  Setosa
6      36           5.5          3.5           1.3          0.2  Setosa

In [17]:
iris_new = iris[(iris['sepal.length'] > 5) & (iris['petal.length']<1.5)]

iris_new

   number  sepal.length  sepal.width  petal.length  petal.width variety
0       0           5.1          3.5           1.4          0.2  Setosa
1      14           5.8          4.0           1.2          0.2  Setosa
2      16           5.4          3.9           1.3          0.4  Setosa
3      17           5.1          3.5           1.4          0.3  Setosa
4      28           5.2          3.4           1.4          0.2  Setosa
5      33           5.5          4.2           1.4          0.2  Setosa
6      36           5.5          3.5           1.3          0.2  Setosa